                    Template version 0.1 released in "30-01-2016" author "23ars"

## BBB Gpio Driver

| General Test Report for **gpio_driver**-version    |                        |              |                 |
| ------------------------- | ---------------------- | ---------------------- | ----------------------------- |
| **No of tests performed** | **No of failed tests** | **No of passed tests** | **No of not performed tests** |
|                           |                        |                        |                               |


---


| gpio_driver Test Report    |                |               |                     |                   |                               |                 |
|----------------------------|----------------|---------------|---------------------| ----------------- | ----------------------------- | --------------- |
| **Tester:**                | tester_name                                          |
| **Software Version:**      |                                                      |
|                                                                                   |
| **Test ID** | **Test Priority** | **Test Name** | **Precondition**        | **Test Steps**            | **Expected Results**          | **Test Status** |
|  1          |  Critical         | open          |                         |                           |                               |                 |
|  1          |  Critical         | release       |                         |                           |                               |                 |
|  1          |  Critical         | ioctl         |                         |                           |                               |                 |
|  1          |  Critical         | read          |                         |                           |                               |                 |
|  1;4        |  Critical         | write         |                         |                           |                               |                 |
|  1          |  Critical         | irq_probe     |                         |                           |                               |                 |
|  1          |  Critical         | irq_handler   |                         |                           |                               |                 |
|  1;2        |  Critical         | read_buffer   |                         |                           |                               |                 |
|  1;2        |  Critical         | write_buffer  |                         |                           |                               |                 |
|  1          |  Critical         | irq_disable   |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |
|             |                   |               |                         |                           |                               |                 |


---

##Notes

**Test ID** is id of specification that will be tested or the issue's id in which a new feature was added to software.

**Test Priority** will have one of the following values:
* *Critical*
* *Recommended*
* *Important*

**Test Name** is the name of the feature that is tested or name of the issue in which a new feature was added.

**Test Status** will have one of the following values:
* *PASS*
* *FAIL*
* *NOT TESTED*  
